@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body { text-align: center; background-color: #FFD6E3;}
header { padding-top: 10px; padding-bottom: 10px; background-color: #FFC9CC; 
position:fixed; width:100%;
top: 0; left: 0;;}

.logo { font-size: 40px; color: #EB3A5F; font-family: 'LeeSeoyun'; display: inline-block; float:left; padding-left:200px;}

.logo a:link, .logo a:visited,  .logo a:hover, .logo a:active
{
    color: #EB3A5F;
    text-decoration: none;
    
}



.menu { display: inline-block; float: right; padding-top: 7px; padding-right:200px;}
.category { display: inline-block; font-size: 17px; margin: 5px; padding: 5px; padding-left: 10px; padding-right: 10px; border-radius: 10px; color: #FF6577; border:none;
  position:relative;
  transition:800ms ease all;
  outline:none; cursor: pointer;}

.bodybox { margin-top: 150px; color: #FF6577;}

.info {display: block;}
.portfolio {display: none;}
.form {display: none;}
.contact {display: none;}


.title { font-weight: bold; font-size: 30px; margin-bottom: 10px; color: white; background-color: #FF6577; display: inline-block; padding-left: 13px; padding-right: 13px; border-radius: 100px;}

.img-twitter { width: 50px; }
.img-portfolio { width: 800px ;margin: 10px; max-width: 90%; }

.content { font-family: 'LeeSeoyun'; font-size: 18px; }

.copy { font-family: 'LeeSeoyun'; font-size: 12px; background-color: #FFD6E3;}











@media (max-width: 900px) {
    
    header { padding-top: 10px; padding-bottom: 10px;  
position:fixed; width:100%;
top: 0; left: 0; padding-left: 10px; padding-right: 10px; text-align: center;}
    
.logo { font-size: 40px; display: block; float:none;}

.menu { display: inline-block; float:none; padding-top: 7px;}



}


